{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="text-center border border-light rounded-3  p-5 w-25 mx-auto">
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      {{ form.username.label }}
      {{ form.username }}
    </div>
    <div class="mb-4">
      {{ form.password.label }}
      {{ form.password }}
    </div>
    <div>
      <button type="submit" class="btn btn-light mb-2">Sign in</button>
    </div>
    <a href="{% url 'auth:register' %}" class="h6 mb-2">Register</a>
  </form>
</div>
{% endblock %}
