{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="text-center border border-light rounded-3  p-5 w-25 mx-auto">
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      {{ form.username.label }}
      {{ form.username }}
    </div>
    <div class="mb-4">
      {{ form.email.label }}
      {{ form.email }}
    </div>
    <div class="mb-4">
      {{ form.password1.label }}
      {{ form.password1 }}
    </div>
    <div class="mb-4">
      {{ form.password2.label }}
      {{ form.password2 }}
    </div>
    <div>
      <button type="submit" class="btn btn-light mb-2">Register</button>
    </div>
    <a href="{% url 'auth:login' %}" class="h6 mb-2">Sign in</a>
  </form>
</div>
{% endblock %}
