{% extends "base.html" %}

{% block title %} Legislators {% endblock %}

{% load render_table from django_tables2 %}

{% load static %}

{% block content %}
<div class="text-center">
    {% if table.data %}
        <h4 class="mb-2">Legislators supported and opposed bills</h4>
        <div class="mb-4 border p-4 border-black-subtle rounded-3">
            {% render_table table %}
        </div>
    {% else %}
        <h4>No records found.</h4>
    {% endif %}
</div>
<script src="{% static 'js/tabledefs.js' %}"></script>
{% endblock %}
